In [1]:
%classpath add jar libs/*

In [18]:
import tech.tablesaw.api.*;
import tech.tablesaw.io.json.*;
import static tech.tablesaw.aggregate.AggregateFunctions.*;

// display Tablesaw tables with BeakerX table display widget
tech.tablesaw.beakerx.TablesawDisplayer.register();

//init objek
Table dfSmallgrade = Table.read().csv("datasets/12181616/12181616.csv");

System.out.println(dfSmallgrade.first(5));

//init objek JsonReader 
JsonReader reader = new JsonReader();

//membaca file product.json
JsonReadOptions fileJSON = JsonReadOptions.builder("datasets/12181616/12181616.json").build();

//memasukan data fileJSON ke dataframe 
Table tabeljson = reader.read(fileJSON);

//menampilkan 4 data terkhir pada dataframe tabeljson
System.out.println(tabeljson.first(5));
                   
//menggabungkan data pada dataframedata1 dan dataframedata2 untuk disimpan di df datagabung
Table datagabung = dfSmallgrade.append(tabeljson);

//menampilkan gabungan data yang ada di dataframe datagabung
System.out.println(datagabung.last(5)); 

//menampilkan summary data yang ada di dataframe datagabung kolom "grade"
System.out.print(datagabung.summarize("nilai", mean, max, min).apply());

                                                                       12181616.csv
 idx  |  _id  |             series             |  kode_wilayah  |       wilayah        |  tahun  |  tanggal  |  bulan  |  triwulan  |  nilai  |  target  |
----------------------------------------------------------------------------------------------------------------------------------------------------------
 801  |  800  |  Luas Lahan yang Dibakar (Ha)  |       1202054  |   PANYABUNGAN TIMUR  |   2008  |           |         |            |    3.3  |          |
 802  |  801  |  Luas Lahan yang Dibakar (Ha)  |       1202055  |         HUTA BARGOT  |   2008  |           |         |            |         |          |
 803  |  802  |  Luas Lahan yang Dibakar (Ha)  |       1202060  |               NATAL  |   2008  |           |         |            |    525  |          |
 804  |  803  |  Luas Lahan yang Dibakar (Ha)  |       1202070  |  MUARA BATANG GADIS  |   2008  |           |         |            |         |          |
 805  |  804  |  Luas Lahan yang Dibakar (Ha)  |       1202080  |               SIABU  |   2008  |           |         |            |     16  |          |
                                                                       12181616.json
 kode_wilayah  |  tahun  |             series             |  nilai  |  _id   |       wilayah        |  tanggal  |  idx   |  bulan  |  triwulan  |  target  |
------------------------------------------------------------------------------------------------------------------------------------------------------------
      1301013  |   2008  |  Luas Lahan yang Dibakar (Ha)  |         |  1132  |         PAGAI UTARA  |           |  1131  |         |            |          |
      1301021  |   2008  |  Luas Lahan yang Dibakar (Ha)  |         |  1133  |      SIPORA SELATAN  |           |  1132  |         |            |          |
      1301022  |   2008  |  Luas Lahan yang Dibakar (Ha)  |    0.5  |  1134  |        SIPORA UTARA  |           |  1133  |         |            |          |
      1301030  |   2008  |  Luas Lahan yang Dibakar (Ha)  |     20  |  1135  |     SIBERUT SELATAN  |           |  1134  |         |            |          |
      1301031  |   2008  |  Luas Lahan yang Dibakar (Ha)  |         |  1136  |  SEBERUT BARAT DAYA  |           |  1135  |         |            |          |
                                                                      12181616.csv
 idx   |  _id   |             series             |  kode_wilayah  |      wilayah      |  tahun  |  tanggal  |  bulan  |  triwulan  |  nilai  |  target  |
---------------------------------------------------------------------------------------------------------------------------------------------------------
 1565  |  1566  |  Luas Lahan yang Dibakar (Ha)  |       1601140  |  BATU RAJA BARAT  |   2008  |           |         |            |         |          |
 1566  |  1567  |  Luas Lahan yang Dibakar (Ha)  |       1602010  |         LEMPUING  |   2008  |           |         |            |         |          |
 1567  |  1568  |  Luas Lahan yang Dibakar (Ha)  |       1602011  |    LEMPUING JAYA  |   2008  |           |         |            |     20  |          |
 1568  |  1569  |  Luas Lahan yang Dibakar (Ha)  |       1602020  |           MESUJI  |   2008  |           |         |            |         |          |
 1569  |  1570  |  Luas Lahan yang Dibakar (Ha)  |       1602021  |    SUNGAI MENANG  |   2008  |           |         |            |     55  |          |
                 12181616.csv summary
    Mean [nilai]     |  Max [nilai]  |  Min [nilai]  |
------------------------------------------------------
 134.81111111111107  |         2011  |          0.5  |

null